
@using Microsoft.AspNet.Identity
@using WebApplication4.Models
@model CategoriaViewInaModel

@using (Html.BeginForm("ViewIna", "Categoria", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        @Html.ValidationSummary(true)        
        <div class="col-md-4">
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-eye-open"></span> Inactivos</button>
        </div>
    </div>
}

