
@using Microsoft.AspNet.Identity
@using WebApplication4.Models
@model CategoriaViewInaModel

@using (Html.BeginForm("ViewIna", "Categoria", FormMethod.Post, new { }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)        
        <div class="col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <button type="submit" class="btn btn-default" >Ver Inactivos <span class="glyphicon glyphicon-eye-open"></span> </button>
                </div>
            </div>
        </div>
    </div>
}

