@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@model CategoriaModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de Categorías</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
                <a class="btn btn-primary" onclick="editar()">Modificar <span class="glyphicon glyphicon-pencil"></span></a>
                <a class="btn btn-primary" onclick="borrar()">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a>
            </div>
        </div>
        <div class="col-md-1">
            <a class="btn btn-danger" href="index2.html">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <tr class="active">
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Id Padre</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td>01</td>
                <td>Evento</td>
                <td>Descripción 1</td>
                <td> </td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Cine</td>
                <td>Descripción 2</td>
                <td> </td>
                <td>Activo</td>
            </tr>
            <tr id="fila3" onclick="select()">
                <td>03</td>
                <td id="fila3Nomb">Teatro</td>
                <td id="fila3Desc">Descripción 3</td>
                <td id="filaPadre"></td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>04</td>
                <td>Actividad</td>
                <td>Descripción 4</td>
                <td> </td>
                <td>Activo</td>
            </tr>

            <tr>
                <td>05</td>
                <td>Concierto</td>
                <td>Descripción 5</td>
                <td> 1</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>06</td>
                <td>Musical</td>
                <td>Descripción 6</td>
                <td> 1</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>07</td>
                <td>Comedia</td>
                <td>Descripción 7</td>
                <td> 4</td>
                <td>Activo</td>
            </tr>
            <tr id="fila4" onclick="select2()">
                <td>08</td>
                <td id="fila4Nomb">Horror</td>
                <td id="fila4Desc">Descripción 8</td>
                <td> 2</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>09</td>
                <td>Drama</td>
                <td>Descripción 9</td>
                <td> 3</td>
                <td>Activo</td>
            </tr>

            <tr id="filaAgregada" style="visibility:hidden" onclick="select11()">
                <td>10</td>
                <td id="nomb">a</td>
                <td id="dir">b</td>
                <td id="idP"></td>
                <td>Activo</td>
            </tr>
        </table>
    </div>
</div>




<!--Tab para siguiente categoria-->
<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo tipo</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="nombre" class="control-label col-md-2">Nombre:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre del tipo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="control-label col-md-2">Descripción:</label>
                        <div class="col-md-10">
                            <input type="textarea" class="form-control" id="direccion" placeholder="Descripción">

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="control-label col-md-2">Id Padre:</label>
                        <div class="col-md-10">
                            <input type="textarea" class="form-control" id="idPadre" placeholder="Id Padre">

                        </div>
                    </div>


                </form>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">

                <button type="button" onclick="registrar()" data-dismiss="modal" aria-hidden="true" class="btn btn-primary">Agregar <span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>
</div>






