
@{
    ViewBag.Title = "BuscaCliente";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Buscar cliente</li>
        </ol>
    </div>
</div>

<div class="container">
    <div class="row ">
        <div class="col-md-1">
            <label for="dni" class="control-label">Tipo Doc:</label>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="" id="">
                <option value="">DNI</option>
                <option value="">Pasaporte</option>
                <option value="">Carnet Extranjería</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="dni" class="control-label">N° Documento:</label>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <input id="dni" type="text" class="form-control">
                <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
            </div>
        </div>
        <div class="col-md-2">
            <div class="input-group">
                <a class="btn btn-primary" href="#regalo" data-toggle="modal"><span class="glyphicon glyphicon-gift"></span> Entregar Regalo</a>
            </div>
        </div>
        <div class="col-md-3">
            <a href="index2.html" class="btn btn-danger pull-right">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>
    </div>

    <div class="row">
        <h4>Resultados:</h4><br>
        <table class="table table-bordered table-hover">
            <tr class="active">
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>N° Doc</th>
                <th>Puntos</th>

            </tr>
            <tr>
                <td>Henry Antonio</td>
                <td>Espinoza Torres</td>
                <td>46618582</td>
                <td>230</td>

            </tr>
        </table>
    </div>
</div><!--Fin del container-->

<div class="modal fade" id="regalo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Entrega de Regalo</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="reg" class="control-label col-md-2">Regalo:</label>
                        <div class="col-md-4">
                            <select id="listaregalo" class="form-control">
                                <option value="o0">Seleccione</option>
                                <option value="o1">Oso</option>
                                <option value="o2">Entrada 1</option>
                                <option value="o3">Entrada 2</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="puntos" placeholder="" disabled>
                        </div>
                    </div>
                    <div id="mensaje">

                    </div>
                </form>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="entregar()" class="btn btn-primary">Entregar <span class="glyphicon glyphicon-ok"></span></button>
                <button type="button" onclick="cerrarModal()" class="btn btn-danger">Cancelar <span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
    </div>
</div>


