@using WebApplication4.Models
@{
    ViewBag.Title = "ReporteAsignacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ReporteAsignacionModel
<style>
    td{text-align:center}
</style>

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Reporte de Asignación de Vendedores</li>
        </ol>
    </div>
</div>

<div class="container">    
    <center id="busqAvanzada" class="row">
        <div id="alerta" class="alert alert-warning" hidden></div><!--LA ALERTA-->

        @using (Ajax.BeginForm("ObtenerAsignacion", "CuentaUsuario", null, new AjaxOptions    {
                OnFailure = "validaciones",
                InsertionMode = InsertionMode.Replace,
                OnSuccess = "generarTabla",
                HttpMethod = "POST"
            }, new { id = "ReportForm", @class = "form-inline" })) {

            <div class="col-md-12 ">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Desde:</span>
                        @Html.EditorFor(m => m.fechaInicio, new { htmlAttributes = new { type = "text", @class = "fechar" } })
                    </div>
                </div>
                &nbsp;
                <div class="form-group ">
                    <div class="input-group">
                        <span class="input-group-addon">Hasta:</span>
                        @Html.EditorFor(m => m.fechaFin, new { htmlAttributes = new { type = "text", @class = "fechar" } })
                    </div>
                </div>
            </div>
        }
    </center>    

    <div class="row form-inline">
        <center>
            <a id="generarReporte" class="btn btn-primary" onclick="submitReport()"><span class="fa fa-table"></span> Generar</a>
            <a id="newReport" class="btn btn-primary" onclick="nuevoReporte()"><span class="fa fa-table"></span> Nuevo Reporte</a>
            <a id="export-btn" onclick="generarExcel()" class="btn btn-success btn-excel "><span class="fa fa-file-excel-o"></span> Exportar a Excel </a>
        </center>
    </div>

    <div class="row" align="center">
        <div id="my_result_table" class="col-md-12"></div>
    </div>

</div>
@section scripts{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script>

    $(document).ready(function () {
        $("#fechaInicio").addClass("form-control");
        $("#fechaFin").addClass("form-control");
        $("#export-btn").hide();
        $("#newReport").hide();
    });

    function generarTabla(data) {
        var fechI = document.getElementById("fechaInicio").value;
        var fechF = document.getElementById("fechaFin").value;

        fIni = new Date(fechI.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"));
        fFin = new Date(fechF.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"));
        var fechI = fIni.getDate().toString() + "/" + (fIni.getMonth() + 1).toString() + "/" + fIni.getFullYear();
        var fechF = fFin.getDate().toString() + "/" + (fFin.getMonth() + 1).toString() + "/" + fFin.getFullYear();

        t1 = "<h4> REPORTE DE ASIGNACIÓN DE VENDEDORES:</h4>";
        t2 = "<h4>Del " + fechI + " - " + fechF +"</h4>"
        myTable = t1 + t2 + "<div class='table-responsive'><table class='table table-bordered table-hover'>";
        myTable += "<thead><tr><th>Fecha</th>";
        myTable += "<th>Punto de Venta</th><th>Vendedor</th><th>Hora</th></thead>";


        $.each(data, function (k, v) {
            var date = new Date(parseInt(v.Dia.substr(6)));
            var fecha = date.getDate().toString() + "/" + (date.getMonth() + 1).toString() + "/" + date.getFullYear();

            myTable += "<tr><td> " + fecha + "</td>";
            myTable += "<td> " + v.PuntoVenta + "</td>";
            myTable += "<td>" + v.Nombre + "</td><td>" + v.Horas + "</td></tr>";

            $("#export-btn").show();
            $("#newReport").show();
            $("#generarReporte").hide();
        });
        myTable += "</table></div>";
        document.getElementById("my_result_table").innerHTML = myTable;
    }

    function nuevoReporte() {
        $('#export-btn').hide();
        $("#my_result_table").empty();
        $("#newReport").hide();
        $("#generarReporte").show();
        $("#fechaInicio").val("");
        $("#fechaFin").val("");
    }

    function submitReport() {
        var valor = $("#alerta").children('strong');
        if (valor.length > 0) {
            valor.remove();
        }

        $("#alerta").hide();

        var fechI = $('#fechaInicio').val();
        var fechF = $('#fechaFin').val();

        if (fechI == '') {
            $("#alerta").append('<strong>"Fecha desde" es obligatorio.</strong>').show();
            return;
        }
        if (fechF == '') {
            var date = new Date();
            fechF = date.getFullYear() + "-" + (date.getMonth() + 1).toString() + "-" + date.getDate().toString();
            $('#fechaFin').val(fechF);
        }

        if (fechF != '' && fechI != '') {
            if (new Date(fechF.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1")) < new Date(fechI.replace(/(\d{4})-(\d{2})-(\d{2})/, "$2/$3/$1"))) {
                $("#alerta").append('<strong>"Fecha hasta" no puede ser menor que "Fecha desde".</strong>').show();
                return;
            }
        }

        $("#ReportForm").submit();
    }

    function generarExcel() {
        window.open('data:application/vnd.ms-excel,' + encodeURIComponent($('div[id$=my_result_table]').html()));
        e.preventDefault();
    }
</script>

    }

