@using WebApplication4.Models;

@{
    ViewBag.Title = "Destacados";
    Layout = null;
    int offsetList = 0;
    List<Eventos> listaDestacados = ViewBag.ListaDestacados as List<Eventos>;
}



    <div class="headDestacados">
        EVENTOS DESTACADOS
    </div>
    <div id="carousel-1" class="carousel slide" data-ride="carousel">
        <!--indicadores primero-->
        <ol class="carousel-indicators"></ol>
        <!--Contenedor de los slide-->
        <div class="carousel-inner" role="listbox">
            @for (var i = 0; i < listaDestacados.Count; i++)
            {
                <div class="@((i == 0) ? " item active":"item " )">

                    <a href=@Url.Action("VerEvento", "Evento" , new { id=listaDestacados[i].codigo })><img src=@listaDestacados[i].ImagenEvento height="500" width="1200" class="img-responsive" alt=@listaDestacados[i].nombre></a>
                </div>
            }
        </div>
        <!--Controles-->
        <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </a>
        <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
