@model WebApplication4.Models.ZonaEventoListModel
@{
    List<string> nombresHeaderTabla = ViewBag.NombrePV as List<string>;
}

<div class="tab-pane fade in container" id="tarifas">
    <h3>Funciones</h3>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-primary" onclick="agregaFila()">Agregar fila <span class="glyphicon glyphicon-plus"></span></button>
                <button class="btn btn-primary" onclick="quitarFila()">Quitar fila <span class="glyphicon glyphicon-remove"></span></button>
            </div>

        </div><br>
        @Html.Hidden("nHeaders", "" + (nombresHeaderTabla.Count + 3))
        @Html.Hidden("nZonas", "0")
        <div class="row">
            @using (Html.BeginForm("Tarifas", "Evento", FormMethod.Post, new { @id = "formPost" }))
            {
                <table class="table table-bordered table-hover" id="tarifario">
                    <thead>
                        <tr class="active">
                            <th>Nº</th>
                            <th>Tipo de entrada/Zona</th>
                            @for (int i = 0; i < nombresHeaderTabla.Count; i++)
                            {
                                <th>@nombresHeaderTabla[i]</th>
                            }
                            <th>Cantidad de entradas</th>
                            <th>¿Quitar?</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button type="submit" class="btn btn-primary" style="float: right;" onclick="return agregaTarifas()">Siguiente   <span class="glyphicon glyphicon-arrow-right"></span></button>
            }
        </div>
    </div>
</div>
<script>
    function agregaFila() {
        var nZonas = parseInt($('#nZonas').val());
        var table = document.getElementById("tarifario");
        var row = table.insertRow();
        row.setAttribute("contentEditable", "true");
        row.id = nZonas;
        var nCeldas = parseInt($('#nHeaders').val());
        var cell0 = row.insertCell(0);
        cell0.innerHTML = (nZonas + 1);
        var cell1 = row.insertCell(1);
        cell1.innerHTML = '<input type="text" class="form-control" required/>';
        for (var i = 2; i < nCeldas; i++) {
            var cell = row.insertCell(i);
            cell.innerHTML = '<input type="number" class="form-control" name="cantidad" min = "1" required/>';
        }
        var cell = row.insertCell();
        cell.innerHTML = '<input type="radio" name="groupTarifas" value="' + (parseInt(row.id)) + '">';
        cell.align = "center";
        $('#nZonas').val((nZonas + 1));
    }
    function quitarFila() {
        var fila = $('input[name="groupTarifas"]:checked').val();
        var row = document.getElementById(parseInt(fila));
        row.parentNode.removeChild(row);
        var cantidad = parseInt($('#nZonas').val());
        $("#nZonas").val(cantidad - 1);
    }
    function agregaTarifas() {
        if (tableBTV.rows.length == 1) { alert("Tabla vacía. Ingrese datos."); return false; }
        var nCeldas = parseInt($('#nHeaders').val());
        var tableBTV = document.getElementById("tarifario");
        var nombreLista = "ListaZEM";
        var nombreSubLista = "ListaTarifas";
        for (var i = 1, row; row = tableBTV.rows[i]; i++) {
            var nombreZona = row.cells[1].children[0].value;
            var aforo = row.cells[nCeldas - 1].children[0].value;
            $("#formPost").prepend("<input type='hidden' name='" + nombreLista + "[" + (i - 1) + "].Nombre' value='" + nombreZona + "'>");
            $("#formPost").prepend("<input type='hidden' name='" + nombreLista + "[" + (i - 1) + "].Aforo' value='" + aforo + "'>");
            for (var j = 2; j < nCeldas - 1; j++) {
                var precio = row.cells[j].children[0].value;
                $("#formPost").prepend("<input type='hidden' name='" + nombreLista + "[" + (i - 1) + "]." + nombreSubLista + "[" + (j - 2) + "].Precio' value='" + precio + "'>");
            }
        }
        return true;
    }
</script>