
@{
    
}

<div class="tab-pane fade in container" id="tarifas">
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3 col-md-offset-9">
                <button class="btn btn-primary ">Agregar fila <span class="glyphicon glyphicon-plus"></span></button>
                <button class="btn btn-primary ">Quitar fila <span class="glyphicon glyphicon-remove"></span></button>
            </div>

        </div><br>
        <div class="row">
            <table class="table table-bordered table-hover" contenteditable="true">
                <tr class="active">
                    <th>Nº</th>
                    <th>Tipo de entrada/Zona</th>
                    <th>Del 1/1/2016 al 1/2/2016</th>
                    <th>Del 2/2/2016 al 16/2/2016</th>
                    <th>Cantidad de entradas</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

            </table>
        </div>
    </div>
</div>