* {    padding: 0px;margin:0px}
#busqAvanzada{text-align: center; margin-top: 10px;margin-bottom: 10px}
header{}
#footer{background: #101010;height: 100px;color: white;text-align: center}
.event{cursor: pointer}

tbody {
        cursor: pointer;
}    
.trselected {
        background: #F1F1F1;
        font-weight: bold;
}
thead {
        background-color: #337AB7;
        color: white;
        font-weight: bold;
}



/*ESTILOS DE LOS REPORTES*/

.numero {
        text-align:right;
    }
    .btn-excel {
        background-color: #207245;
        color:white;
    }    
    th{text-align:center}