*{margin: 0;padding: 0;font-family: "Trebuchet MS", Helvetica, sans-serif}
img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/*contenedor de fondo blanco*/
.con{background-color:white;
         margin:10px;
         border-radius:5px;         
    }

#busqAvanzada{text-align: center; margin-top: 10px;margin-bottom: 10px;}
body{background:url(fondo1.jpg) fixed top center !important;background-repeat:space}
#barra{background-color: #337ab7; color: white }
#seccionPrincipal{}
#carousel-1{margin-bottom: 10px}
.suspensivos{
    overflow:hidden;
    text-overflow:ellipsis;
    height:18px;
    white-space:nowrap;
    width:inherit;
}
#footer{    
       padding:20px;
       background: #101010;
       height: 150px;    
       color: white; 
       text-align: center; 
       font-family:'Comic Sans MS'
}

table {
    
}
.headDestacados {
        background-color: #337AB7;
        color: black;
        border:1px solid black;
        border-radius:5px;
        padding: 5px 10px;
        font-weight: bold;
        text-align:center;
        font-family: sans-serif;
        font-size: 17px;
        height: 35px;
    }
.carousel {
        border:1px solid black;
        border-radius:5px;
}

table{
    background-color:white;    
}
 tbody {
        cursor: pointer;
}
    
.trselected {
        background: #F1F1F1;
        font-weight: bold;
}

thead {
        background-color: #337AB7;
        color: white;
        font-weight: bold;
}


#barraLateral{
    position: fixed;
    top: 450px;   
    left:0px; 
    border:1px solid white;   
}
#barraLateral li{
    list-style: none;    
    width: 60px;
    height: 60px;    
    cursor: pointer;    
    -webkit-transition: width 0.2s;    
    -moz-transition: width 0.2s; 
    -ms-transition: width 0.2s;
    -o-transition: width 0.2s;
}
#barraLateral li a{    
    display: block;
    width: inherit;
    height: inherit;    
    text-decoration: none;
    color: white;
}
#barraLateral li:hover{width: 70px}
#barraLateral li:nth-of-type(1){background: #990000}

@media only screen and (max-width: 870px) {
    #barraLateral {
        display:none;
    }
}

.contenedor {
    border-radius:5px;
    border:2px solid black;
    background-color:rgba(229,245,255,0.8);
}



th,td{text-align:center}
