*{margin: 0;padding: 0}
#busqAvanzada{text-align: center; margin-top: 10px;}
header{margin-bottom: 10px}
#barra{background-color: #337ab7; color: white }
#seccionPrincipal{}
#carousel-1{margin-bottom: 10px}
#footer{background: #101010;height: 100px;color: white;text-align: center}
.event{cursor: pointer}
#logeado{display: none}
.headDestacados {
        background-color: #337AB7;
        color: white;
        padding: 5px 10px;
        font-weight: bold;
        font-family: sans-serif;
        font-size: 17px;
        height: 35px;
    }

 tbody {
        cursor: pointer;
}
    
.trselected {
        background: #F1F1F1;
        font-weight: bold;
}

thead {
        background-color: #337AB7;
        color: white;
        font-weight: bold;
}


#barraLateral{
    position: fixed;
    top: 250px;   
    left:0px;
}
#barraLateral li{
    list-style: none;    
    width: 60px;
    height: 60px;    
    cursor: pointer;    
    -webkit-transition: width 0.2s;    
    -moz-transition: width 0.2s; 
}
#barraLateral li a{    
    display: block;
    width: inherit;
    height: inherit;    
    text-decoration: none;
    color: white;
}
#barraLateral li:hover{width: 70px}
#barraLateral li:nth-of-type(1){background: red}
#barraLateral li:nth-of-type(2){background: green}


