@using Microsoft.AspNet.Identity
@using WebApplication4.Models;

@{
    ViewBag.Title = "TickNet";    
}

<html>
<body>
    <div id="seccionPrincipal" class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div id="carousel-1" class="carousel slide" data-ride="carousel">
                    @{
                        var db = new WebApplication4.Models.inf245netsoft();
                        List<Eventos> listaDestacados = db.Eventos.AsNoTracking().Where(c => (c.ImagenDestacado != null)).ToList();
                    }
                    <!--indicadores primero-->
                    <ol class="carousel-indicators">
                        @for (var i = 0; i < listaDestacados.Count; i++ )
                        {
                            <li data-target="#carousel-1" data-slide-to= @("" + i) class="active"></li>
                        }
                        
                    </ol>
                    <!--Contenedor de los slide-->
                    <div class="carousel-inner" role="listbox">
                        

                        @for (var i = 0; i < listaDestacados.Count; i++ ){
                                    <div class="@((i==0)?"item active":"item ")">
                                         <a href= @("Evento/VerEvento/?id="+listaDestacados[i].codigo)><img src=@listaDestacados[i].ImagenDestacado height="500" width="1200" class="img-responsive" alt=@listaDestacados[i].nombre></a>
                                    </div>
                        }

                    </div>


                    <!--Controles-->
                    <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    </a>
                    <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div id="titulo1" class="panel-heading"><strong>Eventos populares</strong></div>

                    <!--Aca iran los eventos en miniatura-->
                    <div class="panel-body">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img onclick="verEvento()" class="event" src="http://lorempixel.com/400/250/nightlife/" alt="">
                                <div class="caption" style="text-align:center">
                                    Fecha: 08-AGO
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img onclick="verEvento()" class="event" src="http://lorempixel.com/400/250/nightlife/" alt="">
                                <div class="caption" style="text-align:center">
                                    Fecha: 09-AGO
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img onclick="verEvento()" class="event" src="http://lorempixel.com/400/250/nightlife/" alt="">
                                <div class="caption" style="text-align:center">
                                    Fecha: 10-AGO
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img onclick="verEvento()" class="event" src="http://lorempixel.com/400/250/nightlife/" alt="">
                                <div class="caption" style="text-align:center">
                                    Fecha: 08-SEP
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img onclick="verEvento()" class="event" src="http://lorempixel.com/400/250/nightlife/" alt="">
                                <div class="caption" style="text-align:center">
                                    Fecha: 08-NOV
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="thumbnail">
                                <img onclick="verEvento()" class="event" src="http://lorempixel.com/400/250/nightlife/" alt="">
                                <div class="caption" style="text-align:center">
                                    Fecha: 08-DIC
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Paginacion-->
                    <ul class="pagination pagination-lg pull-right">
                        <!--lg    md    sm-->
                        <li class="disabled"><a href="">&laquo;</a></li>
                        <li class="active"><a href="">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">&raquo;</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!--librerias-->
    <script>
        function verEvento() {
            window.open("ver_evento.html", "_self");
        }
        function buscar() {
            window.open("index1.html", "_self");
        }
        function ingresar() {
            window.open("mi_cuenta.html", "_self");
        }
    </script>
</body>
</html>