@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string mensaje = null;
    mensaje = (string)Session["MensajeIngresoTurno"];

}

<section class="jumbotron" style="height:100%">
    <div class="container">
        @if (mensaje != null)
        { <strong style="text-decoration:underline">@mensaje</strong>}
        <h1>TICKNET</h1>
        <p>¡El mejor lugar para vender tus entradas!</p>
    </div>
</section>
<div>
    @{
        if (Session["TurnoHoy"] == null)
        {
            <p>Session null</p>
        }
        else
        {
            <p>Session no null</p>
        }
    }
</div>