
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Mantenimiento de Puntos de Venta</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <a class="btn btn-primary" href="#formNuevo" data-toggle="modal">Nuevo <span class="glyphicon glyphicon-plus"></span></a>
                <button type="button" class="btn btn-primary" onclick="modificar()">Modificar <span class="glyphicon glyphicon-pencil"></span></button>
                <a class="btn btn-primary" href="#eliminar" data-toggle="modal">Dar de Baja <span class="glyphicon glyphicon-remove"></span></a>
                <button id=botonOculto style="visibility:hidden" type="button" class="btn btn-primary" onclick="msjConfirmacion2()">Guardar Cambios <span class="glyphicon glyphicon-save"></span></button>
            </div>
        </div>
        <div class="col-md-3">
            <form action="" class="" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="NOMBRE DEL PTO DE VENTA">
                        <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2">
            <select class="form-control" name="" id="">
                <option value="">Región</option>
                <option value="">Lima</option>
                <option value="">Ica</option>
            </select>

        </div>
        <div class="col-md-1">
            <a class="btn btn-danger pull-right" href="@Url.Action("Index2", "Home")">Salir <span class="glyphicon glyphicon-log-out"></span></a>
        </div>

    </div>
    <div class="row">
        <table class="table table-bordered table-hover">
            <tr class="active">
                <th>Id</th>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Provincia</th>
                <th>Departamento</th>
                <th>Fecha de Creación</th>
                <th>Dirección MAC</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td>01</td>
                <td>Sede San Miguel</td>
                <td>Av. Xxxxxxxx 123</td>
                <td>Lima</td>
                <td>Lima</td>
                <td>10/07/2015</td>
                <td>48:2C:6A:1E:59:3D</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>02</td>
                <td>Sede Comas</td>
                <td>Av. Mmmmmmmmmmmm 987</td>
                <td>Lima</td>
                <td>Lima</td>
                <td>12/07/2015</td>
                <td>48:CC:69:1E:70:3D</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>03</td>
                <td>Sede San Isidro</td>
                <td>Av. Zzzzzzzzzzzzzzzzzz 456</td>
                <td>Lima</td>
                <td>Lima</td>
                <td>11/07/2015</td>
                <td>98:21:6C:1E:54:3E</td>
                <td>Activo</td>
            </tr>
            <tr>
                <td>04</td>
                <td class="modificado">Sede PUCP</td>
                <td class="modificado">Av Aaaaaaaaaaaaaaaa 741</td>
                <td>Ica</td>
                <td>Ica</td>
                <td>14/07/2015</td>
                <td class="modificado">48:2C:2A:4A:59:23</td>
                <td>Activo</td>
            </tr>
            <tr id="filaAgregada" style="visibility:hidden">
                <td>05</td>
                <td id="nomb">a</td>
                <td id="dir">b</td>
                <td id="prov">d</td>
                <td id="reg">d</td>
                <td>25/09/2015</td>
                <td id=mac>e</td>
                <td>Activo</td>
            </tr>
        </table>



    </div>

</div>


<div class="modal fade" id="formNuevo">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Nuevo Punto de Venta</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                <form action="" class="form-horizontal">
                    <div class="form-group">
                        <label for="nombre" class="control-label col-md-2">Nombre:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre del Punto de Venta">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="direccion" class="control-label col-md-2">Dirección:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="direccion" placeholder="Direccion del Punto de Venta">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="provincia" class="control-label col-md-2">Provincia:</label>
                        <div class="col-md-3">
                            <select name="" id="provincia" class="form-control ">
                                <option value="">Provincia1</option>
                                <option value="">Provincia2</option>
                                <option value="">Provincia3</option>
                                <option value="">Provincia4</option>
                                <option value="">Provincia5</option>
                                <option value="">Provincia6</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="region" class="control-label col-md-2">Departamento:</label>
                        <div class="col-md-3">
                            <select name="" id="region" class="form-control ">
                                <option value="">Lima</option>
                                <option value="">Piura</option>
                                <option value="">Juliaca</option>
                                <option value="">Trujillo</option>
                                <option value="">Loreto</option>
                                <option value="">Ica</option>

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ipdir" class="control-label col-md-2">Dirección MAC:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="macdir" placeholder="">
                        </div>
                    </div>

                </form>
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="registrar()" class="btn btn-primary">Agregar <span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminar">
    <!--esta div pondra la pantalla oscura al presionar el boton-->
    <div class="modal-dialog">
        <div class="modal-content">
            <!--ACA VA EL CONTENIDO DEL MODAL-->
            <!--header de la ventana-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times; </button>
                <h4 class="modal-title">Aviso</h4>
            </div>
            <!--contenido de la ventana-->
            <div class="modal-body">
                ¿Está seguro que quiere dar de baja el registro?
            </div>
            <!--footer de la ventana-->
            <div class="modal-footer">
                <button type="button" onclick="eliminar()" class="btn btn-primary">Si <span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    </div>
</div>


