@using Microsoft.AspNet.Identity
@using WebApplication4.Models

@{
    ViewBag.Title = "Apertura";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var db = new WebApplication4.Models.inf245netsoft();
    double mS = 0, mD = 0;
    //Se obtiene el turno del usuario que se loguea si este tiene un turno asignado
    Turno turno = (Turno)Session["TurnoHoy"];
    if (turno != null)
    {
        //Se verifica el estado de la caja
        if (turno.estadoCaja != "Pendiente")
        {
            //si caja ya ha sido abierta o cerrada se extraen los montos iniciales de la apertura de caja
            mS = (double)turno.MontoInicioSoles;
            mD = (double)turno.MontoInicioDolares;
        }
    }

}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Abrir Caja</li>
        </ol>
    </div>
</div>
<div class="container">
    <div class="row">
        <br>
        @*Se verifica que exista el turno y el estado de la caja de ese turno*@
        @if (turno != null && turno.estadoCaja != "Pendiente")
        {
            //si turno existe y caja ya ha sido abierta o cerrada se muestran los montos iniciales en los input
            <div class="form-group">
                <label for="categoria" class="control-label col-md-2 col-md-offset-2">Monto Inicial:</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="soles">S/.</span>
                        <input type="number" id="montoS" value="@mS" class="form-control" aria-describedby="soles" disabled>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="soles">$.</span>
                        <input type="number" id="montoD" value="@mD" class="form-control" aria-describedby="soles" disabled>
                    </div>
                </div>
            </div>
        }
        else
        {
            //si no turno existe y caja aun no ha sido abierta
            //o cerrada se muestra inputs para ingresar los montos iniciales de la caja
            <div class="form-group">
                <label for="categoria" class="control-label col-md-2 col-md-offset-2">Monto Inicial:</label>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="soles">S/.</span>
                        <input type="number" id="montoS" class="form-control" aria-describedby="soles">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="soles">$.</span>
                        <input type="number" id="montoD" class="form-control" aria-describedby="soles">
                    </div>
                </div>
            </div>
        }
        <br><br>

        <center>
            @*Se verifica que exista el turno y el estado de la caja de ese turno*@
            @if (turno != null && turno.estadoCaja == "Pendiente")
            {
                //si turno existe y caja aun no ha sido abierta se muestra el boton para abrir caja
                <button type="button" class="btn btn-primary" onclick="abrir()">Abrir caja <span class="glyphicon glyphicon-inbox"></span></button>
            }
            else
            {

            }
        </center>



    </div>
</div>

<script>
    //script para operacion de apertura de caja
    function abrir() {
        //se extraen montos de los ingresados
        var montos = $('#montoS').val();
        var montod = $('#montoD').val();
        //se verifican que se hallan ingresado los montos
        if (montos != "" && montos != null && montod != "" && montod != null) {
            //se envis los montos extraidos al controller para procesar la informacion
            $.ajax({
                url: "@Url.Action("AbrirCaja", "Ventas")",
                data: { montos: montos, montod: montod },
                success: function (data) {
                    //se muestra el mensaje correspondiente y se recarga la pagina
                    alert(data);
                    window.location.href = '/Ventas/Apertura';
                },
                error: function (data) {
                    alert(data);
                    window.location.href = '/Ventas/Apertura';
                }
            });
        } else {
            //muestra un mensaje si no se han nigresado montos
            alert("Ingrese los monto solicitados");
        }
    }

</script>