
@{
    ViewBag.Title = "Devolucion";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<div class="container-fluid">
    <div class="col-md-5">
        <ol class="breadcrumb">
            <li class="active">Devolución de entradas</li>
        </ol>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="form-group">
            <label for="nombre" class="control-label col-md-2">Nº Documento:</label>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="DNI del cliente">
                    <span class="input-group-btn"><button class="btn btn-primary" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </div>
            <div class="checkbox col-md-2">
                <label>
                    <input type="checkbox"> Solo vencidos
                </label>
            </div>
            <div class="col-md-5">
                <button type="button" onclick="devolver()" class="btn btn-primary">Devolver Dinero <span class="glyphicon glyphicon-usd"></span></button>
                <button type="button" onclick="devolver()" class="btn btn-danger ">Salir <span class="glyphicon glyphicon-log-out"></span></button>
            </div>
        </div>
    </div>
    <h4>Resultados:</h4>
    <div class="row">
        <table class="table table-bordered table-hover">
            <tr class="active">
                <th>Cod. Devol.</th>
                <th>Nº Doc</th>
                <th>Ap Paterno</th>
                <th>Ap Materno</th>
                <th>Nombres</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Evento</th>
                <th>Cant boletos</th>
                <th>Monto (S/.)</th>
                <th>Estado</th>
            </tr>
            <tr>
                <td>3232</td>
                <td>65566778</td>
                <td>Rojas</td>
                <td>Napan</td>
                <td>Pier</td>
                <td>09/07/2015</td>
                <td>13:00</td>
                <td>Circo Kiko</td>
                <td>3</td>
                <td>130.50</td>
                <td>Postergado</td>
            </tr>
            <tr id="fila3" onclick="select()">
                <td>3211</td>
                <td>65566778</td>
                <td>Rojas</td>
                <td>Napan</td>
                <td>Pier</td>
                <td>13/07/2015</td>
                <td>13:00</td>
                <td>Los tres chiflados</td>
                <td>2</td>
                <td>80.00</td>
                <td id="estado">Cancelado</td>
            </tr>
        </table>

    </div>


</div>


