
@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .d {
        height: inherit;
    }

    .fondo {
        background-color: red;
        color: white;
    }

    h1 {
        height: 100%;
    }
</style>

<div class="d">
    <div class="fondo col-md-12">
        <h1>UPS!! Error.</h1>
    </div>
</div>


