
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .d {
        height:inherit;
    }
    .fondo {
        background-color: red;
        color: white;        
    }
    h1 {
        height: 100%;
    }
</style>

<div class="d">
    <div class="fondo col-md-12">
        <h1>La página a la que intenta dirigirse no existe.</h1>
    </div>    
</div>

